<ul>
    <li><strong>{{ cafeteria.nombre }}</strong></li>
    <li><strong>Calle</strong>: {{ cafeteria.calle }}</li>
    <li><strong>Teléfono</strong>: {{ cafeteria.telefono }}</li>
    <li><strong>Email</strong>: {{ cafeteria.email }}</li>
</ul>
